<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="info"
      internalLogFile="c:\temp\internal-nlog-AspNetCore3.txt">

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
		<add assembly="NLog.Targets.ElasticSearch"/>
	</extensions>


	<targets>
		<target xsi:type="Console" name="console" layout="${mdlc:RequestRefCode}{mdlc:userCode} ${longdate}|${level}|${message}|${exception:format=ToString,StackTrace}" />
		<!--<target xsi:type="Console" name="console" layout="${mdlc:myRefCode} ${event-properties:item=RefCode} ${hello-world} ${longdate}|${level}|${message}|${exception:format=ToString,StackTrace}" />-->

		<target name="elastic" xsi:type="BufferingWrapper" flushTimeout="500">
			<target
			xsi:type="ElasticSearch"
			uri="http://localhost:9200"
			index="logstash-${date:format=yyyy.MM.dd}"
			includeAllProperties="True"
			requireAuth="false"
			documentType="application-nlog" >
				<field name="refCode" layout="${mdlc:RequestRefCode}" />
				<field name="userCode" layout="${mdlc:userCode}" />
				<field name="Activity" layout="${activityid}"/>
				<field name="Date" layout="${date}"/>
				<field name="msg" layout="${message}" />
				<field name="level" layout="${level}" />
				<field name="logger" layout="${logger}" />
				<field name="username" layout="${Identity}" />
				<field name="processname" layout="${processname}" />
				<field name="machinename" layout="${machinename}" />
				<field name="class" layout="${callsite:className=true:methodname:false}" />
				<field name="method" layout="${callsite:methodName=true:className=false}" />
				<field name="filename" layout="${callsite:fileName=true:methodName=false:className=false}" />
				<field name="aspnet" layout="${aspnet-request:servervariable=URL}" />

				<field name="aspnetrequestbody" layout="${aspnet-request-posted-body}" />
				<field name="callsite" layout="${callsite:className=true:fileName=true:includeSourcePath=true:methodName=true}" />
				<field name="stacktrace" layout="${exception:format=stacktrace}" />
				<field name="hostname" layout="${hostname}" />
				<field name="user-identity" layout="${aspnet-user-identity}" />
				<field name="traceId" layout="${aspnet-TraceIdentifier}" />
				<field name="client-ip" layout="${aspnet-request-ip:CheckForwardedForHeader=true}" />

			</target>
		</target>

		<wrapper-target xsi:type="AsyncWrapper" name="asyncwrap" batchSize="1" overflowAction="Grow">
			<target-ref name="elastic"/>
		</wrapper-target>

	</targets>

	<rules>
		<logger name="System.*" maxlevel="Debug" final="true"/>
		<!--Skip non-critical Microsoft logs and so log only own logs-->
		<logger name="Microsoft.*" maxLevel="Info" final="true" />
		<!-- BlackHole without writeTo -->
		<logger name="*" minlevel="Info" writeTo="console,asyncwrap" />
	</rules>

</nlog>